.c-navbar {
  box-shadow: 1px 0 20px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 1000;
  padding: 16px 0px;
}

.c-wrapper {
  margin: 0px 40px;
  text-align: start;
  /* display: flex;
  justify-content: flex-start;
  
  align-items: center;
  max-height: 48px; */
}

.input-search {
  margin-left: 60px;
  height: 48px !important;
  max-width: 620px;
  width: 100%;
  margin-bottom: 0px;
  padding-left: 54px !important;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #f7f9fc;
  background-image: url("https://assets.website-files.com/5fafb178b3236f251c2ec605/5faffd2656d9a3d620bb1569_search.svg");
  background-position: 18px 50%;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 0.9375em;
  line-height: 1.5em;
}
